@{
    ViewBag.Title = "Hello World!";
}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non leo nisl, quis malesuada felis. Vivamus ut lorem est, sit amet adipiscing sapien. Etiam vulputate urna et arcu eleifend sed ultrices quam dictum. Morbi sem quam, feugiat nec accumsan vitae, lobortis at risus. Praesent luctus, enim nec auctor congue, libero nibh fringilla orci, pharetra elementum velit urna vitae arcu. Maecenas eget nibh ligula. Proin eleifend rhoncus orci vel porttitor. Mauris vehicula mauris felis. Nunc vitae lacus quam. Vivamus et consectetur mauris. Maecenas eu lacus ante, ultrices egestas mauris.</p>

<p>Cras congue malesuada fringilla. Quisque lacinia placerat arcu quis placerat. In commodo fringilla neque sed tempus. Donec dapibus, sapien in ornare aliquam, dolor urna vestibulum tortor, eu cursus sem velit sed risus. Maecenas mollis elementum aliquam. Vestibulum elementum molestie porttitor. Vestibulum nec odio nulla. Cras volutpat sapien eget leo feugiat pellentesque. Aenean vitae lorem enim, id luctus leo. In pharetra, massa nec porttitor tristique, nulla ipsum luctus ante, sed suscipit quam urna ac dolor. Nulla at justo eros. Mauris sed nisl libero. Suspendisse luctus molestie ante vel dapibus. Donec eu dui dui, accumsan dapibus velit. Suspendisse risus ipsum, malesuada eu congue quis, congue ac quam. Aliquam at suscipit justo.</p>

<p>Integer at risus ut tellus venenatis ultrices. Aenean adipiscing tristique justo et vulputate. Vestibulum libero elit, dictum non tempus nec, pretium at velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In blandit, purus congue ultricies ornare, augue neque egestas dui, nec porta odio turpis ac ante. Mauris eget molestie sem. Curabitur erat sapien, vestibulum at aliquam vel, luctus at neque. Phasellus id metus ipsum.</p>

<p>Cras vitae dictum dolor. Fusce justo augue, suscipit sit amet molestie vitae, placerat ac magna. Nunc aliquet gravida magna, sit amet tincidunt nisl imperdiet quis. Nam vitae commodo est. Nam mattis nisi urna, vel fringilla metus. Cras tristique tellus eget leo varius ultrices a ut nulla. Donec et enim diam, ac consequat neque. Quisque rutrum, tellus aliquam iaculis imperdiet, erat urna iaculis ante, id consequat nisl turpis sed sem.</p>

<p>Phasellus ultricies turpis eget urna fermentum ultrices. Pellentesque lectus odio, pharetra a semper vel, commodo sit amet mi. Integer malesuada, ligula in auctor placerat, eros purus posuere risus, a venenatis purus mi dapibus massa. Nullam vulputate odio nec tellus porttitor pretium. Mauris placerat orci id erat volutpat volutpat tincidunt velit tempor. Suspendisse id ipsum dui, suscipit suscipit velit. Curabitur auctor magna sed nulla feugiat sed commodo enim sodales. Vivamus sit amet diam at risus auctor tristique. Duis lectus mi, dictum at tincidunt eget, molestie ut massa. Proin diam velit, mattis a porta eu, condimentum vitae massa. Pellentesque eget sapien nulla. Sed ultricies suscipit dolor rhoncus fermentum. Fusce ac purus nibh.</p>


@section SidebarContent {
    <h3>Sidebar Content</h3>

    <p>Cras vitae dictum dolor. Fusce justo augue, suscipit sit amet molestie vitae, placerat ac magna. Nunc aliquet gravida magna, sit amet tincidunt nisl imperdiet quis. Nam vitae commodo est. Nam mattis nisi urna, vel fringilla metus. Cras tristique tellus eget leo varius ultrices a ut nulla. Donec et enim diam, ac consequat neque. Quisque rutrum, tellus aliquam iaculis imperdiet, erat urna iaculis ante, id consequat nisl turpis sed sem.</p>
}