/* #Base Grid
================================================== */

    .container                                  { position: relative; width: 1800px; margin: 0 auto; padding: 0; }
    .column, .columns                           { float: left; display: inline; margin-left: 15px; margin-right: 15px; }
    .row                                        { margin-bottom: 30px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column                      { width: 120px; }
    .container .two.columns                     { width: 270px; }
    .container .three.columns                   { width: 420px; }
    .container .four.columns                    { width: 570px; }
    .container .five.columns                    { width: 720px; }
    .container .six.columns                     { width: 870px; }
    .container .seven.columns                   { width: 1020px; }
    .container .eight.columns                   { width: 1170px; }
    .container .nine.columns                    { width: 1320px; }
    .container .ten.columns                     { width: 1470px; }
    .container .eleven.columns                  { width: 1620px; }
    .container .twelve.columns                  { width: 1770px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 150px;  }
    .container .offset-by-two                   { padding-left: 300px; }
    .container .offset-by-three                 { padding-left: 450px; }
    .container .offset-by-four                  { padding-left: 600px; }
    .container .offset-by-five                  { padding-left: 750px; }
    .container .offset-by-six                   { padding-left: 900px; }
    .container .offset-by-seven                 { padding-left: 1050px; }
    .container .offset-by-eight                 { padding-left: 1200px; }
    .container .offset-by-nine                  { padding-left: 1350px; }
    .container .offset-by-ten                   { padding-left: 1500px; }
    .container .offset-by-eleven                { padding-left: 1650px; }

/* #Resolution 1600
================================================== */

@media only screen and (min-width: 1560px) and (max-width: 1799px) {
        .container                                  { width: 1560px; }

        .container .one.column                      { width: 100px; }
        .container .two.columns                     { width: 230px; }
        .container .three.columns                   { width: 360px; }
        .container .four.columns                    { width: 490px; }
        .container .five.columns                    { width: 620px; }
        .container .six.columns                     { width: 750px; }
        .container .seven.columns                   { width: 880px; }
        .container .eight.columns                   { width: 1010px; }
        .container .nine.columns                    { width: 1140px; }
        .container .ten.columns                     { width: 1270px; }
        .container .eleven.columns                  { width: 1400px; }
        .container .twelve.columns                  { width: 1530px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 130px; }
        .container .offset-by-two                   { padding-left: 260px; }
        .container .offset-by-three                 { padding-left: 390px; }
        .container .offset-by-four                  { padding-left: 520px; }
        .container .offset-by-five                  { padding-left: 650px; }
        .container .offset-by-six                   { padding-left: 780px; }
        .container .offset-by-seven                 { padding-left: 910px; }
        .container .offset-by-eight                 { padding-left: 1040px; }
        .container .offset-by-nine                  { padding-left: 1170px; }
        .container .offset-by-ten                   { padding-left: 1300px; }
        .container .offset-by-eleven                { padding-left: 1430px; }
    }

/* #Resolution 1280
================================================== */

@media only screen and (min-width: 1200px) and (max-width: 1559px) {
        .container                                  { width: 1200px; }

        .container .one.column                      { width: 70px; }
        .container .two.columns                     { width: 170px; }
        .container .three.columns                   { width: 270px; }
        .container .four.columns                    { width: 370px; }
        .container .five.columns                    { width: 470px; }
        .container .six.columns                     { width: 570px; }
        .container .seven.columns                   { width: 670px; }
        .container .eight.columns                   { width: 770px; }
        .container .nine.columns                    { width: 870px; }
        .container .ten.columns                     { width: 970px; }
        .container .eleven.columns                  { width: 1070px; }
        .container .twelve.columns                  { width: 1170px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 100px; }
        .container .offset-by-two                   { padding-left: 200px; }
        .container .offset-by-three                 { padding-left: 300px; }
        .container .offset-by-four                  { padding-left: 400px; }
        .container .offset-by-five                  { padding-left: 500px; }
        .container .offset-by-six                   { padding-left: 600px; }
        .container .offset-by-seven                 { padding-left: 700px; }
        .container .offset-by-eight                 { padding-left: 800px; }
        .container .offset-by-nine                  { padding-left: 900px; }
        .container .offset-by-ten                   { padding-left: 1000px; }
        .container .offset-by-eleven                { padding-left: 1100px; }
    }

/* #Resolution 960
================================================== */

@media only screen and (min-width: 960px) and (max-width: 1199px) {
        .container                                  { width: 960px; }
        .row                                        { margin-bottom: 20px; }
        
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px; }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }

        .container .one.column                      { width: 60px; }
        .container .two.columns                     { width: 140px; }
        .container .three.columns                   { width: 220px; }
        .container .four.columns                    { width: 300px; }
        .container .five.columns                    { width: 380px; }
        .container .six.columns                     { width: 460px; }
        .container .seven.columns                   { width: 540px; }
        .container .eight.columns                   { width: 620px; }
        .container .nine.columns                    { width: 700px; }
        .container .ten.columns                     { width: 780px; }
        .container .eleven.columns                  { width: 860px; }
        .container .twelve.columns                  { width: 940px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 80px; }
        .container .offset-by-two                   { padding-left: 160px; }
        .container .offset-by-three                 { padding-left: 240px; }
        .container .offset-by-four                  { padding-left: 320px; }
        .container .offset-by-five                  { padding-left: 400px; }
        .container .offset-by-six                   { padding-left: 480px; }
        .container .offset-by-seven                 { padding-left: 560px; }
        .container .offset-by-eight                 { padding-left: 640px; }
        .container .offset-by-nine                  { padding-left: 720px; }
        .container .offset-by-ten                   { padding-left: 800px; }
        .container .offset-by-eleven                { padding-left: 880px; }
    }

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }

        .container .one.column                      { width: 44px; }
        .container .two.columns                     { width: 108px; }
        .container .three.columns                   { width: 172px; }
        .container .four.columns                    { width: 236px; }
        .container .five.columns                    { width: 300px; }
        .container .six.columns                     { width: 364px; }
        .container .seven.columns                   { width: 428px; }
        .container .eight.columns                   { width: 492px; }
        .container .nine.columns                    { width: 556px; }
        .container .ten.columns                     { width: 620px; }
        .container .eleven.columns                  { width: 684px; }
        .container .twelve.columns                  { width: 748px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 64px; }
        .container .offset-by-two                   { padding-left: 128px; }
        .container .offset-by-three                 { padding-left: 192px; }
        .container .offset-by-four                  { padding-left: 256px; }
        .container .offset-by-five                  { padding-left: 320px; }
        .container .offset-by-six                   { padding-left: 384px; }
        .container .offset-by-seven                 { padding-left: 448px; }
        .container .offset-by-eight                 { padding-left: 512px; }
        .container .offset-by-nine                  { padding-left: 576px; }
        .container .offset-by-ten                   { padding-left: 640px; }
        .container .offset-by-eleven                { padding-left: 704px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .columns, .column { margin: 0; }

        .container .one.column,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

