@{
    Layout = "~/Views/Shared/_LayoutNoChrome.cshtml";
}

<div class="nine columns">
    @RenderBody()
</div>

@* Example Sidebar in layout *@
<div class="three columns">
    @RenderSection("SidebarContent", false)
</div>